root = true

# General rules
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = tab
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4

# Assembly
[*.{s,asm}]
indent_style = tab
tab_width = 4

# Graphviz
[*.{dot,gv}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
tab_width = 4

# Markdown
[*.md]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 4

# YAML
[*.yml]
indent_style = space
indent_size = 2

# Stylus
[*.styl]
indent_style = space
indent_size = 4

# Haskell
[*.hs]
indent_style = space
indent_size = 2
